.header {
  position: sticky;
  top: 0;
  background: transparent;
  color: #000;
  z-index: 1;
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 1px solid var(--border-2-color);
  // display: flex;
  // flex-direction: row;
  .headerContent {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      margin: 0 0.2rem 0 0;
      width: 1.4rem;
      height: 1.4rem;
      background: var(--theme-blue);
      background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      background-size: 0.5rem 0.5rem;
      animation: sheen 5s linear 0s infinite normal none running;
    }
    .link {
      box-shadow: none;
      text-decoration: none;
      color: inherit;
      &:hover {
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        background: var(--theme-blue);
        background-image: linear-gradient(
          45deg,
          rgba(255, 255, 255, 0.15) 25%,
          transparent 25%,
          transparent 50%,
          rgba(255, 255, 255, 0.15) 50%,
          rgba(255, 255, 255, 0.15) 75%,
          transparent 75%,
          transparent
        );
        animation: sheen 5s linear 0s infinite normal none running;
        background-size: 0.5rem 0.5rem;
        background-clip: text;
        color: transparent;
        width: fit-content;
      }
    }
    .nav {
      display: flex;
      flex-direction: row-reverse;
      flex: 1;
      padding: 0 0 0 1rem;
      div {
        margin: 0 0.7rem;
        font-weight: lighter;
        &:first-of-type {
          margin-right: 0;
        }
      }
      @media (max-width: 500px) {
        .jumpLink {
          display: none;
        }
        .more {
          display: block;
          cursor: pointer;
          width: 1.4rem;
          height: 1.4rem;
        }
      }
      @media (min-width: 500px) {
        .more {
          display: none;
        }
      }
      .switchTheme {
        cursor: pointer;
        &.dark {
          background: no-repeat
            url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLW1vb24iPjxwYXRoIGQ9Ik0yMSAxMi43OUE5IDkgMCAxIDEgMTEuMjEgMyA3IDcgMCAwIDAgMjEgMTIuNzl6Ij48L3BhdGg+PC9zdmc+");
          width: 1.4rem;
          height: 1.4rem;
          border-radius: 50%;
        }
        &.light {
          background: no-repeat
            url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyOCIgaGVpZ2h0PSIyOCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLXN1biI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iNSI+PC9jaXJjbGU+PGxpbmUgeDE9IjEyIiB5MT0iMSIgeDI9IjEyIiB5Mj0iMyI+PC9saW5lPjxsaW5lIHgxPSIxMiIgeTE9IjIxIiB4Mj0iMTIiIHkyPSIyMyI+PC9saW5lPjxsaW5lIHgxPSI0LjIyIiB5MT0iNC4yMiIgeDI9IjUuNjQiIHkyPSI1LjY0Ij48L2xpbmU+PGxpbmUgeDE9IjE4LjM2IiB5MT0iMTguMzYiIHgyPSIxOS43OCIgeTI9IjE5Ljc4Ij48L2xpbmU+PGxpbmUgeDE9IjEiIHkxPSIxMiIgeDI9IjMiIHkyPSIxMiI+PC9saW5lPjxsaW5lIHgxPSIyMSIgeTE9IjEyIiB4Mj0iMjMiIHkyPSIxMiI+PC9saW5lPjxsaW5lIHgxPSI0LjIyIiB5MT0iMTkuNzgiIHgyPSI1LjY0IiB5Mj0iMTguMzYiPjwvbGluZT48bGluZSB4MT0iMTguMzYiIHkxPSI1LjY0IiB4Mj0iMTkuNzgiIHkyPSI0LjIyIj48L2xpbmU+PC9zdmc+);
          width: 1.4rem;
          height: 1.4rem;
          border-radius: 50%;
        }
      }
    }
  }
}
.footer {
  margin: 0 auto;
  background: var(--theme-blue);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  box-shadow: 0 -10px 0 inset rgba(0, 0, 0, 0.5),
    0px 0px 20px 6px rgba(0, 90, 255, 0.2);
  border-radius: 0.1rem 0.1rem 0 0;
  background-size: 2rem 2rem;
  animation: sheen 5s linear 0s infinite normal none running;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .description {
    flex: 1;
    color: #fff;
  }
  .logoFooter {
    width: 2.8rem;
    height: 2.8rem;
    margin: 0;
  }
}
@keyframes sheen {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position-x: 2rem;
    background-position-y: 4rem;
  }
}
