.articleHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  // border-top: 1px rgba(0, 0, 0, 0.5) solid;
  border-bottom: 1px var(--border-color) solid;
  .articleDate {
    background: var(--date-color);
    color: #fff;
    padding: 2px 6px;
    font-size: 0.8rem;
    min-width: 5rem;
    text-align: center;
    background-image: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.15) 25%,
      rgba(255, 255, 255, 0.22) 25%,
      rgba(255, 255, 255, 0.22) 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      rgba(255, 255, 255, 0.22) 75%,
      rgba(255, 255, 255, 0.22) 100%
    );
  }
  .articleTitle {
    flex: 1;
    margin: 0;
    padding: 0 0 0 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: inherit;
    font-family: "Patua One", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;

    .articleLink {
      text-decoration: none;
    }
  }
}
.articleSubtitle {
  font-size: 0.8rem;
  .articleExcerpt {
    padding: 0.3rem 0.2rem;
    position: relative;
    color: #838383;
  }
}
.articleFoot {
  border-top: 1px solid var(--border-2-color);
  margin-bottom: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  .minToRead {
    font-size: 0.9rem;
  }
  .tags {
    .tag {
      font-size: 0.7rem;
      color: #fff;
      margin: 0 0.3rem;
      padding: 0.1rem 0.2rem;
      background: var(--date-color);
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.years {
  background: var(--theme-blue);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-clip: text;
  color: transparent;
  text-align: right;
  background-size: 0.625rem 0.625rem;
}
